# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# IDE configs
*.swp
*.swo
*.idea/
*.sublime*

# TypeScript cache
*.tsbuildinfo

# Frontend builds (if any)
public/dist/
